.background {
  background: aliceblue;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.background2 {
  background: white;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}