/* Espacement entre les questions */
.faq-section {
  margin: 45px 0;
}

/* Masquer les checkbox et les paragraphes */
.faq-section input,
.faq-section p {
  display: none;
}

/* Si le checkbox est coché, montrer tous les paragraphes */
.faq-section input[type="checkbox"]:checked ~ p {
  display: block;
  color: rgb(17, 20, 25);
  font-size: 1em;
  /* Restaurer le texte entier */
  text-overflow: clip;
  white-space: normal;
  overflow: visible;
}

/* Style des label */
.faq-section label {
  font-size: 1.2em;
  cursor: pointer;
  background: #eee;
  display: block;
  position: relative;
  padding: 7px 10px;
  font-weight: bold;
  border: 1px solid #ddd;
  border-left: 3px solid rgb(190, 30, 83);
  transition: all 0.15s ease-out;
}

/* Éviter de sélectionner le texte en cliquant plusieurs fois */
.faq-section label::selection {
  background: none;
}

.faq-section label:hover {
  background: #e6caca;
}

/* Flèche du label par défaut */
.faq-section label::before {
  content: "";
  position: absolute;
  right: 4px;
  top: 50%;
  margin-top: -6px;
  border: 6px solid transparent;
  border-left-color: inherit;
}

/* Flèche du label sélectionné */
.faq-section input[type="checkbox"]:checked ~ label::before {
  border: 6px solid transparent;
  border-top-color: inherit;
  margin-top: -3px;
  right: 10px;
}
.faq-section label {
  display: block;
  color: rgb(7, 116, 105);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
section p {
  text-align: center;
}

#formFAQ {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#titre {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30px;
}

h2 {
  color: #077459;
  font-size: 25px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

form div {
  display: flex;
  justify-content: center;
  width: 100%;
}
label[for="question"],
label[for="reponse"] {
  width: 25%;
  margin-right: 2%;
}

/* Full-width inputs */
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 5%;
  display: inline-block;
  border: 1px solid #04aa6d;
  box-sizing: border-box;
  border-radius: 5px;
}

/* Set a style for all buttons */

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 25%;
  height: 45px;
  font-size: 15px;
  margin-top: 0.5%;
  margin-bottom: 2%;
}

/* Add a hover effect for buttons */
input[type="submit"]:hover {
  background-color: rgb(7, 116, 105);
}
