p {
    margin: 30px;
}

h1 {
    margin-top: 60px;
    margin-left: 20px;
    background-color: rgb(255, 255, 255);
    width: 300px;
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    border-radius: 12px;
    text-align: center;
}

h2 {
    margin: 20px;
    color: #04aa6d;
}
.wrapper {
    display:flex;
    margin: 7px;
    overflow: hidden;
}
.wrapper > .gauge-container {
    margin: 0;
}
.gauge-container {
    width: 300px;
    height: 300px;
    display: block;
    float: left;
    padding: 10px;
    background-color: aliceblue;
    margin: 7px 20px;
    border-radius: 3px;
    position: relative;
}

.gauge-container.particule > .gauge .dial {
    stroke: #334455;
    stroke-width: 10;
}
.gauge-container.particule > .gauge .value {
    stroke: #F32450;
    stroke-dasharray: none;
    stroke-width: 10;
}
.gauge-container.particule > .gauge .value-text {
    fill: #F32450;
    transform: translate3d(26%, 20%, 0);
    display: inline-block;
}
.gauge-container.particule .value-text {
    color: #F32450;
    font-weight: 100;
    position: absolute;
    bottom: 18%;
    right: 10%;
    display: inline-block;
}

.gauge-container.co2 > .gauge .dial {
    stroke: #334455;
    stroke-width: 10;
}
.gauge-container.co2 > .gauge .value {
    stroke: #3481e8;
    stroke-dasharray: none;
    stroke-width: 10;
}
.gauge-container.co2 > .gauge .value-text {
    fill: #3481e8;
    transform: translate3d(26%, 20%, 0);
    display: inline-block;
}
.gauge-container.co2 .value-text {
    color: #3481e8;
    font-weight: 100;
    position: absolute;
    bottom: 18%;
    right: 10%;
    display: inline-block;
}