#infos {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #04aa6d;
  border-top: 2px solid #04aa6d;
}

#infosPersos,
#infosGroupe {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#infosPersos {
  border-right: 2px solid #04aa6d;
}

p {
  margin: 20px;
}

h1 {
  background-color: rgb(255, 255, 255);
  width: 300px;
  border: 2px solid rgb(0, 0, 0);
  padding: 5px;
  margin: 20px;
  border-radius: 12px;
  text-align: center;
}

h2 {
  margin-left: 20px;
  margin-bottom: 3px;
  color: #04aa6d;
}

.gauge-container.one > .gauge > .value-text {
  fill: rgb(47, 227, 255);
  font-family: sans, "sans-serif";
  font-weight: bold;
  font-size: 0.6em;
}

#modificationGroupe,
#sauvegardeGroupe,
#modificationPerso,
#sauvegardePerso {
  background-color: aliceblue;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

#modificationGroupe,
#sauvegardeGroupe,
#modificationPerso,
#sauvegardePerso {
  background-color: rgb(242, 249, 255);
  color: black;
  border: 1px solid black;
  width: 60%;
  border-radius: 10px;
  font-size: 16px;
}

#modificationGroupe:hover,
#sauvegardeGroupe:hover,
#modificationPerso:hover,
#sauvegardePerso:hover {
  background-color: #4caf50;
  color: aliceblue;
  border: 0;
}

span {
  font-size: 16px;
  font-weight: bold;
}

input {
  padding: 0.7%;
  width: 25%;
  border-radius: 5px;
  border: 1px solid black;
}

label[for="email"] input,
label[for="adresse"] input {
  width: 40%;
}

#bouton input:disabled {
  background-color: rgb(158, 157, 157);
}

#bouton input:disabled:hover {
  background-color: rgb(158, 157, 157);
  color: black;
  border: 1px solid black;
}

#infosMembre {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

table {
  border-collapse: collapse;
  width: 80%;
  background-color: rgb(230, 224, 224);
}

thead {
  background-color: #04aa6d;
  color: white;
}

td, th /* Mettre une bordure sur les td ET les th */ {
  text-align: center;
  width: 15%;
  padding: 15px;
}

tbody tr:nth-child(even) {
  background-color: rgba(197, 197, 197, 0.219);
}

tbody tr:nth-child(odd) {
  background-color: rgba(233, 233, 233, 0.973);
}

#pasdemembre {
  margin-top: -10px;
  font-weight: bold;
}

.supprimer {
  width: 10%;
}

input[type="submit"] {
  width: 80%;
  padding: 3%;
  border: 1px solid #04aa6d;
}

input[type="submit"]:hover {
  background-color: #04aa6d;
  color: white;
}
