p {
  margin: 30px;
}

h1 {
  margin: 20px;
  background-color: rgb(255, 255, 255);
  width: 300px;
  border: 2px solid rgb(0, 0, 0);
  padding: 5px;
  margin: 20px;
  border-radius: 12px;
  text-align: center;
}

h2 {
  margin: 20px;
  color: #04aa6d;
}

.gauge-container {
  width: 200px;
  height: 200px;
  display: block;
  float: left;
  padding: 10px;
  overflow: hidden;
}
.gauge-container.one > .gauge > .dial {
  stroke: #334455;
  stroke-width: 2;
}

.gauge-container.one > .gauge > .value {
  stroke: rgb(47, 227, 255);
  stroke-width: 2;
}

.gauge-container.one > .gauge > .value-text {
  fill: rgb(47, 227, 255);
  font-family: sans, "sans-serif";
  font-weight: bold;
  font-size: 0.6em;
}

#modificationGroupe,
#sauvegardeGroupe,
#modificationPerso,
#sauvegardePerso {
  background-color: aliceblue;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

#modificationGroupe,
#sauvegardeGroupe,
#modificationPerso,
#sauvegardePerso {
  background-color: rgb(242, 249, 255);
  color: black;
  border: 1px solid black;
  width: 30%;
  border-radius: 10px;
  font-size: 16px;
}

#modificationGroupe:hover,
#sauvegardeGroupe:hover,
#modificationPerso:hover,
#sauvegardePerso:hover {
  background-color: #4caf50;
  color: aliceblue;
  border: 0px;
}

span {
  font-size: 16px;
  font-weight: bold;
}

input {
  padding: 0.7%;
  width: 10%;
  border-radius: 5px;
  border: 1px solid black;
}

label[for="email"] input {
  width: 20%;
}
