p {
    margin: 30px;
  }
  h1 {
    margin: 20px;
  
      background-color: rgb(255, 255, 255);
      width: 300px;
      border: 2px solid rgb(0, 0, 0);
      padding: 5px;
      margin: 20px;
      border-radius: 12px
  }
  h2 {
    margin: 20px;
    color: #04aa6d
  }

  #modificationGroupe, #sauvegardeGroupe, #modificationPerso,#sauvegardePerso {
    background-color: alicblue; 
    border: none;
    color: white;
    padding: 6px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #modificationGroupe, #sauvegardeGroupe, #modificationPerso,#sauvegardePerso {
    background-color: white; 
    color: black; 
    border: 2px solid #c3dbc44d;
  }
  
  #modificationGroupe:hover, #sauvegardeGroupe:hover, #modificationPerso:hover,#sauvegardePerso:hover {
    background-color: #4CAF50;
    color: aliceblue;
  }
  