.header {
  margin-top: 5%;
  margin-left: 2%;
}

.carte-contenu {
  background-color: aliceblue;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  height: 80%;
  padding: 10px 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
}

.registerbtn {
  background-color: #04aa6d;
  display: inline-block;
  font-size: 15px;
  color: white;
  padding: 15px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}
.registerbtn:hover {
  background-color: rgb(7, 116, 105);
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border: 1px solid black;
  border-radius: 6px;
  background: white;
}

input[type="password"]:disabled,
input[type="submit"]:disabled {
  background-color: rgb(228, 224, 224);
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: white;
  outline: none;
}

hr {
  border: 1px solid white;
}

a {
  color: dodgerblue;
}

.dropContent {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  text-align: center;
}

.dropBtn {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.dropBtn:hover {
  background-color: rgba(7, 116, 105, 0.2);
}

.lienVersForm {
  color: black;
  text-decoration: none;
}

label {
  margin-left: auto;
  margin-right: auto;
}
