body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

#all-page {
  font-family: "Trebuchet MS", sans-serif;
  margin-top: 15px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

#presentation-generale {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#presentation-generale-img {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
}

#presentation-generale-img img {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 3%;
}

#mains {
  width: 35%;
}

#senscert {
  width: 25%;
  height: auto;
}

#presentation-generale h1 {
  color: #077459;
  text-align: center;
}

#container-all-person {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.container-one-person img {
  width: 35%;
}

#PV {
  width: 20%;
}

#thales {
  width: 40%;
}

.container-one-person {
  width: 20%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container-one-person p {
  font-size: 90%;
}

h3 {
  font-size: 170%;
  color: #077459;
  text-align: center;
}
