.bandeau {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  justify-content: center;
}

.bandeau-container-texte {
  display: flex;
  flex-direction: column;
  width: 70%;
  text-align: center;
}

.bandeau-container-img {
  width: 20%;
}

#img-SensUs {
  width: 70%;
}

#img-question {
  width: 70%;
}
#img-SensCert,
#img-ecologie {
  width: 100%;
  height: auto;
}

.titre-bandeau {
  color: #355fd2;
}

.background {
  background-color: #15181f;
}

.header {
  background-color: #15181fe7;
  text-align: center;
  border-radius: 4px;
  padding: 60px;
  font-size: 30px;
  color: aliceblue;
  font-family: 'Roboto',sans-serif;
}


h1 {
  color: aliceblue;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  text-transform: capitalize;
}

header p {
  color: aliceblue;
  font-family: "Roboto", sans-serif;
}

.boutonHeader {
  border-radius: 8px;
  background-color: #be1e53ff;
  display: inline-block;
  font-size: 24px;
  color: aliceblue;
  padding: 15px;
  cursor: pointer;
  border: none;
}
.boutonHeader:hover {
  background-color: #077469ff;
}
.carte-contenu{
  background-color: azure;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  height: 80%;
}
