.bandeau {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 300px;
}

#bandeau1,
#bandeau3 {
  background-color: rgb(206, 245, 205);
}

#bandeau2,
#bandeau4 {
  background-color: rgb(205, 205, 255);
}

.bandeau-container-texte {
  display: flex;
  flex-direction: column;
  width: 70%;
  text-align: center;
}

.bandeau-container-img {
  width: 20%;
}

#img-SensUs {
  width: 70%;
}

#img-question {
  width: 70%;
}
#img-SensCert,
#img-ecologie {
  width: 100%;
  height: auto;
}

.titre-bandeau {
  color: #077459;
}

.header {
  background-color: #15181fe7;
  text-align: center;
  border-radius: 4px;
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 30px;
  color: aliceblue;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

h1 {
  color: aliceblue;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  text-transform: capitalize;
}

header p {
  color: aliceblue;
  font-family: "Roboto", sans-serif;
}

.boutonHeader {
  border-radius: 8px;
  background-color: #04aa6d;
  display: inline-block;
  font-size: 24px;
  color: aliceblue;
  padding: 15px;
  cursor: pointer;
  border: none;
}

.boutonHeader:hover {
  background-color: rgb(7, 116, 105);
}
