/* Barre de navigation */

.nav{
    margin-bottom: 40px;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(7, 116, 105);
    position: fixed;
    top: 0;
    width: 100%;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: rgb(190, 30, 83);
}

/* body and font */

.background{
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}