h1 { 
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: white;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3 { 
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button {
  background-color: #be1e53ff;
  border: none;
  color: white;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
    background-color: #077469ff
}
.background {
    background-color: #173858;
    opacity: 0.9;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.bouton {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}