#all-page {
  font-family: "Trebuchet MS", sans-serif;
}

#presentation-generale {
  display: flex;
  flex-direction: column;
}

#presentation-generale-img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
}

#presentation-generale-img img {
  border: 2px solid black;
}

#mains {
  width: 30%;
  height: auto;
}

#senscert {
  width: 25%;
  height: auto;
}

#presentation-generale h1 {
  color: rgb(10, 10, 170);
  text-align: center;
}

#container-all-person {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.container-one-person img {
  width: 35%;
}

#PV {
  width: 20%;
}

#thales {
  width: 45%;
}

.container-one-person {
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-one-person p {
  font-size: 90%;
}

h3 {
  font-size: 170%;
  color: rgb(10, 10, 170);
}
