
.background{
    background-color:#15181F;
}

.header{
    text-align: center;
    padding: 60px;
    font-size:30px;
}

h1{
    color:aliceblue;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    text-transform: capitalize;
    
}

p{
    color: aliceblue;
    font-family: 'Roboto', sans-serif;

}

.boutonHeader{
    border-radius: 8px;
    background-color: #be1e53ff;
    display: inline-block;
    font-size:24px;
    color: aliceblue;
    padding: 20px;
    cursor:pointer;
    border:none;
}